[Unit]
Description=Daily ALM Automation Timer
Requires=alm-automation.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 17:00:00
Persistent=true

[Install]
WantedBy=timers.target